{% extends 'global/base.html' %}

{% block texto %}


        <!-- Seção de produtos -->

        <section id="motorola" class="container-fluid">
            
            <h2>Motorola</h2>
            <p>Custo Beneficio!</p>
            <!-- Cada produtos com um artigo-->

            <article class="galeria">
                <!-- <h3>Samsung</h3>
                <p>Perfeito para as melhores fotos!</p> -->

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola 1G</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/1g.jpg" target="_blank"><img src="/static/global/img/motorola/1g.jpg" class="card-img-top" alt="Celular Motorola 1G"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola EDG50</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/edge50.jpg" target="_blank"><img src="/static/global/img/motorola/edge50.jpg" class="card-img-top" alt="Celular Motorola EDG50"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola G04S</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/g04s.png" target="_blank"><img src="/static/global/img/motorola/g04s.png" class="card-img-top" alt="Celular Motorola G04S"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola G24</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/g24.jpg" target="_blank"><img src="/static/global/img/motorola/g24.jpg" class="card-img-top" alt="Celular Motorola G24"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola G34</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/g34.png" target="_blank"><img src="/static/global/img/motorola/g34.png" class="card-img-top" alt="Celular Motorola G34"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola G84</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/motorola/g84.png" target="_blank"><img src="/static/global/img/motorola/g84.png" class="card-img-top" alt="Celular Motorola G84"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
    
    <hr>

{% endblock texto %}