{% extends 'global/base.html' %}

{% block texto %}

<!-- Centraliza todo o corpo do site -->


    <!-- Cabeçalho do site -->
    

    <!-- Conteúdo principal do site -->

        <!-- Seção de produtos -->

        <section id="promocoes" class="container-fluid">
            
            <h2>Promoções da Semana!</h2>
            <p>Aproveite!</p>
            <!-- Cada produtos com um artigo-->

            <article class="galeria">
                <!-- <h3>Samsung</h3>
                <p>Perfeito para as melhores fotos!</p> -->

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Samsung A55</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a55.png" target="_blank"><img src="/static/global/img/samsung/a55.png" class="card-img-top" alt="Celular Samsung A55"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 599,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi M4</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="/static/global/img/xiaomi/m4.png" target="_blank"><img src="/static/global/img/xiaomi/m4.png" class="card-img-top" alt="Celular Xiaomi M4"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 599,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 12</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="/static/global/img/iphone/12.png" target="_blank"><img src="/static/global/img/iphone/12.png" class="card-img-top" alt="Celular Iphone 12"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 599,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <hr>

        <section id="lancamentos">    
                <h3>Ultimos Lançamentos!</h3>
                <p>Tecnologias mais recentes</p>
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 16</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <img src="/static/global/img/iphone/16plus.png" class="card-img-top" alt="Celular Iphone 16">
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi POCO X6</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <img src="/static/global/img/xiaomi/POCOX6.png" class="card-img-top" alt="Celular Xiaomi POCO X6">
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Motorola G84</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <img src="/static/global/img/motorola/g84.png" class="card-img-top" alt="Celular Motorola G84">
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <hr>

        <!-- Section de sobre nós -->
        <section id="sobre">
            <h2>Sobre nós</h2>
            <p>A mais barata do Brasil!</p>

        </section>
        
        <hr>

        <!-- Section de contato -->
        <section id="contato">
            <h2>Contato</h2>
            <p>Entre em contato conosco para mais informações</p>
            <p>(21) 9999-9999</p>

        </section>
        
        <hr>

        <!-- section mideas-->

        <!-- <section id="midias">
            <h2>Experimente nossos produtos</h2>
            <video width="600" controls>
                <source src="videos/video1.mp4" type="video/mp4">
                Seu navegador não suporta tag de video
            </video>
        

        <audio controls>
            <source src="audio/audio1.mp3" type="audio/mp3">
            Seu navegador não suporta tag de audio
        </audio>
        </section>

        <hr> -->

        <!-- <section id="mapa">
            <h3>Nosso endereço</h3>
        </section>

        <hr> -->

 

    <aside>
        <h3>Anúncios</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uaYvxLrP22E?si=-Ndw9jN2FpLX2rJJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </aside>

    <hr>

{% endblock texto %}