{% extends 'global/base.html' %}

{% block texto %}

        <!-- Seção de produtos -->

        <section id="xiaomi" class="container-fluid">
            
            <h2>Xiaomi</h2>
            <p>Tecnologia e Inovação!</p>
            <!-- Cada produtos com um artigo-->

            <article class="galeria">
                <!-- <h3>Samsung</h3>
                <p>Perfeito para as melhores fotos!</p> -->

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi 13C</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/13C.png" target="_blank"><img src="/static/global/img/xiaomi/13C.png" class="card-img-top" alt="Celular Xiaomi 13C"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi A10</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/a10.png" target="_blank"><img src="/static/global/img/xiaomi/a10.png" class="card-img-top" alt="Celular Xiaomi A10"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi A3</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/A3.png" target="_blank"><img src="/static/global/img/xiaomi/A3.png" class="card-img-top" alt="Celular Xiaomi A3"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi M4</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/m4.png" target="_blank"><img src="/static/global/img/xiaomi/m4.png" class="card-img-top" alt="Celular Xiaomi M4"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi Note 13</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/note13.png" target="_blank"><img src="/static/global/img/xiaomi/note13.png" class="card-img-top" alt="Celular Xiaomi Note 13"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Xiaomi POCO X6</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/xiaomi/POCOX6.png" target="_blank"><img src="/static/global/img/xiaomi/POCOX6.png" class="card-img-top" alt="Celular Xiaomi POCO X6"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

    <hr>
    <footer>
    <p>&copy; 2024 CELLNAC TECH. Todos os direitos reservados.</p>
            
    </footer>

{% endblock texto %}
    