<header>
    <h1>CELLNAC TECH</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">CELLNAC TECH</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Promoções</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'samsung' %}">Samsung</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'motorola' %}">Motorola</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'xiaomi' %}">Xiaomi</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'iphone' %}">Iphone</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#contato">Contato</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'localizacao' %}">Localização</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>