{% extends 'global/base.html' %}

{% block texto %}

        <!-- Seção de produtos -->

        <section id="samsung" class="container-fluid">
            
            <h2>Samsung</h2>
            <p>Para as Melhores Fotos do Mundo!</p>
            <!-- Cada produtos com um artigo-->

            <article class="galeria">
                <!-- <h3>Samsung</h3>
                <p>Perfeito para as melhores fotos!</p> -->

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy A15</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a15.jpg" target="_blank"><img src="/static/global/img/samsung/a15.jpg" class="card-img-top" alt="Celular Galaxy A15"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy A35 5G</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a35.jpg" target="_blank"><img src="/static/global/img/samsung/a35.jpg" class="card-img-top" alt="Celular Galaxy A35 5G"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy S23</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/s23.jpg" target="_blank"><img src="/static/global/img/samsung/s23.jpg" class="card-img-top" alt="Celular Galaxy S23"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy A05s</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a05s.png" target="_blank"><img src="/static/global/img/samsung/a05s.png" class="card-img-top" alt="Celular Galaxy A05s"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy A25</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a25.png" target="_blank"><img src="/static/global/img/samsung/a25.png" class="card-img-top" alt="Celular Galaxy A25"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Galaxy A55</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/samsung/a55.png" target="_blank"><img src="/static/global/img/samsung/a55.png" class="card-img-top" alt="Celular Galaxy A55"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
    <hr>
{% endblock texto %}
    