{% extends 'global/base.html' %}

{% block texto %}
        <!-- Seção de produtos -->

        <section id="iphone" class="container-fluid">
            
            <h2>Iphone</h2>
            <p>Confiabilidade e Segurança!</p>
            <!-- Cada produtos com um artigo-->

            <article class="galeria">
                <!-- <h3>Samsung</h3>
                <p>Perfeito para as melhores fotos!</p> -->

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 16 Plus</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/16plus.png" target="_blank"><img src="/static/global/img/iphone/16plus.png" class="card-img-top" alt="Celular Iphone 16 Plus"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 16</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/16.png" target="_blank"><img src="/static/global/img/iphone/16.png" class="card-img-top" alt="Celular Iphone 16"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 15 Pro Max</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/15promax.png" target="_blank"><img src="/static/global/img/iphone/15promax.png" class="card-img-top" alt="Celular Iphone 15 Pro Max"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 15 Pro</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/15pro.png" target="_blank"><img src="/static/global/img/iphone/15pro.png" class="card-img-top" alt="Celular Iphone 15 Pro"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 14</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/14.png" target="_blank"><img src="/static/global/img/iphone/14.png" class="card-img-top" alt="Celular Iphone 14"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex align-items-center">
                            <p class="card-text fw-bold m-3">Iphone 12</p>
                            <p>8GB RAM, 256GB, 100MP</p>
                            <a href="images/iphone/12.png" target="_blank"><img src="/static/global/img/iphone/12.png" class="card-img-top" alt="Celular Iphone 12"></a>
                            <div class="card-body">
                                <p class="card-text fw-bold">R$ 9999,99</p>
                                <button class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>

    <hr>
{% endblock texto %}