{% extends 'global/base.html'%}

{% block formulario %}

<div class="container">
  <h1> Cadastro Contato </h1>
  <form action="{% url 'gravar' %}" method="post">
    {% csrf_token %}
    <label for="nome">Nome</label>
    <input type="text" name="nome" class="form-control">

    <label for="idade"></label>
    <input type="number" name="idade" class="form-control">

    <label for="email">Email</label>
    <input type="email" name="email" class="form-control">
    <hr>
    <button class="btn btn-primary">Enviar</button>
  </form>
</div>
  
{% endblock formulario %}