{% include 'global/partials/head.html' %}
<body class="d-flex flex-column min-vh-100">

    <!-- Header -->
    {% include 'global/partials/menu.html' %}
    <main class="flex-grow-1">
    
        {% block texto %}
        {% endblock texto %}

        <section class="bg-info">
        {% block painel %}
        {% endblock painel %}
        </section>

        <article class="container bg-secondary">
            {% block formulario %} {% endblock formulario %}
        </article>
    
    </main>
    
   


    <!-- Footer -->
    {% include 'global/partials/footer.html' %}

    {% comment %} <!-- Modal -->
    {% include 'global/partials/modal.html' %}

    <!-- Scripts -->
    {% include 'global/partials/scripts.html' %} {% endcomment %}
    
</body>
</html>